.battleViewerContainer {
  position: relative;
  height: 200px;
  border: 1px solid red;
  width: 80%;
  color: black;
  font-size: 13px;
  background-color: antiquewhite;
}

.turn {
  text-align: left;
  margin-left: 10px;
  font-size: 10px;
}

.selectedCharacter {
  position: absolute;
  top: 110px;
  left: 35px;
  height: 60px;
  width: 60px;
  border: 1px solid red;
}

.enemyCharacter {
  position: absolute;
  top: 50px;
  right: 55px;
  height: 45px;
  width: 45px;
  border: 1px solid red;
}